keras==3.6.0
numpy==1.26.4
pandas==2.2.3
pymongo==4.10.1
scikit-learn==1.5.2
scipy==1.14.1
setuptools==75.1.0
statsmodels==0.14.4
tensorboard==2.17.1
tensorboard-data-server==0.7.2
tensorflow==2.17.0
yfinance==0.2.44
